:root {
  --main-bg-color: #242424;
  --main-font-color: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-color: #1a1a1a;
  --light-gray: #333;
  --fade-gray: #454545;
  --x-light-gray: #a3a3a3;
  --dirty-white: #d3d3d3;
  --border-color: #fff;
  --div-item-hover-color: #3a3a3a;
  /* A Blueish hue I used to use for hover on Accordions */
  /* --div-accent-hover-color: #213547; */

  --border-radius: 8px;
  --input-border-radius: 10px;
  --input-default-pad: 1rem;
  --input-font-size: 16px;
  --input-small-font-size: 12px;
  --input-medium-font-size: 18px;

  --thin-borders: 1px white solid;
  --default-borders: 2px white solid;
  --default-borders-radius: 10px;

  --danger-color: #db3a34;
  --warning-color: #ed9b40;
  --success-color: #3bceac;



  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  padding-top: 2em;
  min-height: 85vh;
  /* padding-bottom: 4rem; */
  margin-bottom: 3rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--link-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

nav>a {
  font-size: 30px;
}

/* Shared */
button.big-control {
  padding: 1rem 2rem;
}

button.smaller {
  font-size: smaller;
  padding: .5rem .8rem;
}


/* UTILS */
.hidden {
  visibility: hidden;
}

.p-r {
  position: relative;
}

.tip {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0;
  margin-left: -10px;
}

.crs-pointer {
  cursor: pointer;
}

.g-1 {
  gap: 1rem;
}

.frc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mh80 {
  min-height: 80vh;
}